{% extends "layout.html" %}

{% block title %}
    New Password
{% endblock %}

{% block main %}

    {% if error %}
        <div class="error-container">
            <p class="error-template">
                {{ error }}
            </p>
        </div>
    {% endif %}

    <h1>Change your password</h1>
    <div class="block">
        <form action="/new_password" method="post" class="form">
            <div class="form-div">
                <label for="username" class="form-label">Username
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" pattern="^[a-zA-Z0-9]+$" placeholder="Username" required type="text" value="{{username | default('')}}">
                </label>
                <p class="error" id="username_error_message"></p>
            </div>
            <div class="form-div">
                <label for="security_answer" class="form-label">Security Answer
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="security_answer" name="security_answer" placeholder="Answer" required type="password">
                </label>
                <p class="error" id="security_answer_error_message"></p>
            </div>
            <button class="btn btn-primary" id="new_password_button" type="submit">Check</button>
        </form>
    </div>

{% endblock %}
