{% extends "layout.html" %}

{% block title %}
    New Password
{% endblock %}

{% block main %}

    {% if error %}
        <div class="error-container">
            <p class="error-template">
                {{ error }}
            </p>
        </div>
    {% endif %}

    <h1>Change Password</h1>
    <div class="block">
        <form action="/new_password_2" method="post" class="form">
            <div class="form-div">
                <label for="password" class="form-label">New Password
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" required type="password">
                </label>
                <p class="error" id="password_error_message"></p>
            </div>
            <div class="form-div">
                <label for="confirmation" class="form-label">Confirm Password
                    <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Insert password again" required type="password">
                </label>
                <p class="error" id="confirmation_error_message"></p>
            </div>
            <p class="error" id="match_error_message"></p>
            <button class="btn btn-primary" id="new_password_button_2" type="submit">Change password</button>
        </form>
    </div>
    
{% endblock %}
