{% extends "layout.html" %}

{% block head %}

    <!-- Redirect to login page after 3 seconds -->
    <meta http-equiv="refresh" content="3; url=/login">

{% endblock %}

{% block title %}
    Password Changed
{% endblock %}

{% block main %}

    <div class="block">
        <h1>Password Successfully Changed!</h1>
        <h2 id="redirect">
            <span id="base-text">Being redirected</span><span id="dots"></span>
        </h2>
        <h3>If you aren't automatically redirected, click <a href="/login">here</a>.</h3>
    </div>

{% endblock %}
