/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* MY CHANGES*/
body {
    font-family: 'Inter';
}

footer {
    background-color: #ddd;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 5px 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer form{
    margin: 0;
}

footer p {
    font-size: 0.85em;
    margin: 0;
    text-align: center;
}

#dots{
    position: absolute;
}

.block {
    max-width: 600px;
    margin: 2rem auto;
    margin-top: 0.5rem;
    padding: 0 1rem;
}

.form {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.form-label {
    font-size: 1.5rem;
    font-weight: 600;
}

.form-note {
    font-size: 1.2rem;
}

.form-div {
    margin-bottom : 1.5rem;
}

.forgot-password {
    display: block;
    font-size: 0.85rem;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.form-control {
    margin-top: 0.5rem;
}

.error {
    font-size: 0.85rem;
    margin-top: 0.25rem;
    color: #dc3545;
}

h1, {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.button {
    margin-bottom: 2.5rem;
}

.portfolio, .history {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    margin: 1.5rem auto;
}

.stock-container {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 1.5rem auto;
    text-align: left;
}

.stock-info p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.label {
    font-weight: 600;
    margin-right: 0.5rem;
    display: inline-block;
}

.input-box {
    width: 250px;
}

.select-box {
    width: 250px;
    max-width: 100%;
    padding: 0.3rem 0.75rem;
    border-radius: 0.25rem;
}

.error-container {
    width: 100%;
    min-height: 60px;
    display: flex;
    background: #cfe2ff;
    margin-bottom: 5px;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */

}

.error-template {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #001c4d;
    margin: 0;
}

