{% extends "layout.html" %}

{% block body %}

    <input autocomplete="off" autofocus placeholder="Query" type="search">

    <ul></ul>

    <script>

        let input = document.querySelector('input');
        input.addEventListener('input', async function() {
            let response = await fetch('/search?q=' + input.value);
            let shows = await response.json();
            let html = '';
            for (let i in shows) {
                let title = shows[i].title.replace('<', '&lt;').replace('&', '&amp;');
                html += '<li>' + title + '</li>';
            }
            document.querySelector('ul').innerHTML = html;
        });

    </script>

{% endblock %}

<!--
<input> doesn't need a name attribute since we don't intend to submit the form to the server
The 'async' function means that what's about to happen is going to be asynchronous. It may take a moment
'let response = await fetch('/search?q=' + input.value);' is goingo to make an HTTP request from JS to the reserver requesting '/search?q='
'let shows = await response.text(); ' means wait for a moment until you get back the text of the HTTP response in JS

AJAX (Asyncronous JavaScript)
-->
