body {
    background-color: #1e1e1e;
    color: #c8c8c8;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
    background-color: #f5f5f5;
    color: #333;
}
main {
    margin: 0;
    padding: 20px;
    padding-top: 70px;
}

footer {
    background-color: #1f1e1e;
    border-top: 1px solid #666;
    margin: 0;
}
body.light-mode footer {
    background-color: #e9e9e9;
    border-top: 1px solid #999;
}

footer p {
    color: #d0d0d0;
    font-size: 0.85em;
    margin: 0;
    text-align: center;
}

body.light-mode footer p {
    color: #333;
}

section {
    margin-bottom: 30px;
}

.navbar-icons {
    flex-direction: row;
    gap: 10px;
}

.navbar-icons button {
    background: none;
    border: none;
    color: #bbb;
    font-size: 20px;
    padding: 5px;
}

.navbar-icons button:hover {
    background: #393d45;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    color: #fff;
    transform: scale(1.05);
}

.navbar-icons button.toggled {
    background: #444852;
    border-radius: 12px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 1);
    color: #fff;
    transform: scale(0.95);
}

body.light-mode .navbar-icons button {
    color: #555;
}

body.light-mode .navbar-icons button:hover {
    background: #d0d0d0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #000;
}

body.light-mode .navbar-icons button.toggled {
    background: #c0c0c0;
    border-radius: 12px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .5);
    color: #000;
    transform: scale(0.95);
}

.title {
    color: #fff;
}

body.light-mode .title {
    color: #222;
}

.socials {
    margin: 10px;
    text-align: left;
}

.socials ul {
    list-style-type: none;
}

a {
    color: #dedede;
    display: inline-block; /* Prevents 'transform: scale' to push down all text */
    font-weight: 600;
    text-decoration: underline;
}

a:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.05); /* Will make it a little bigger*/
}

body.light-mode main a, body.light-mode footer a{
    color: #0055aa;
}

body.light-mode a:hover {
    color: #003366;
}

#playlist {
    border: 0;
    margin: 16px 0;
    max-width: 500px;
}

#playlist iframe {
    border: 0;
    border-radius: 12px; /* Rounded corners */
    display: block;
    height: 152px;
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 20px;
    max-width: 100%;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 500px;
}

.gallery figcaption {
    font-size: 0.85em;
    margin-top: 5px;
    text-align: left;
}

.gallery-img {
    max-width: 500px;
    object-fit: cover;
    width: 100%;
}

.initial-img {
    height: 450px;
    margin: 10px 0;
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
}

.image {
    height: 300px;
    transition: transform 0.3s ease;
}

.image:hover, .initial-img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.map {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 20px 0;
    overflow: hidden;
}

.map iframe {
    border: 0;
    border-radius: 12px;
    display: block;
    height: 300px;
    width: 100%;
}
